body {
    font-family: Arial;
    font-size: 12pt;
    color: #3333;
    background-color: rgb(255,220,243);
    margin: 20px;
    }


h1 {
    font: Arial;
    color: #000;
    font-size: 24pt;    
    }  
    
h2 {
    font: Arial;
    color: #000;
    font-size: 20pt;    
    }  

h3 {
    font: Arial;
    color: rgb(0, 75, 63);
    font-size: 18pt;    
    } 

p {
    font: Sans-serif;
    font-size: 12pt;
    color: rgb(14,122,104);
}

li {
    font: San-serif;
    font-size: 12pt;
    color: #000000;
}

dd {
    font: San-serif;
    font-size: 12pt;
    color: rgb(0, 75, 63);
}


a:link {
    color: rgb(122, 122, 194)
}
a:visited {
    color: rgb(36, 128, 165)
}

a:hover{
    color: #888}

a:active {
    color: #57d4a477
}


.table-container {
    display: table;
    width: 100%;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid #ccc;
}


.container {
    display: table;
    width: 100%
}


.text-div {
    display: table-cell;
    border: 1px solid #ccc;
    width: 50%;
}

.link-div {
    display: table-cell;
    border: 1px solid #ccc;
    padding: 10px;
    width: 50%;
}