body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ececec;
}
header {
  background-color: #e1bec5; /* Change header background color to beige */
  color: #333; /* Change header text color to dark */
  padding: 20px;
  text-align: center;
}
header h1 {
  margin: 0;
}
main {
  padding: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    margin-bottom: 20px;
}

.image-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center align items horizontally */
  margin-bottom: 10px; /* Add margin below the image */
}


.image-description {
    font-size: 14px; /* Adjust font size as needed */
    color: #888; /* Adjust color as needed */
    margin-top: 5px; /* Add margin above the image description */
}



h2 {
  color: #333;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
h4 {
  margin-bottom: 10px;
}
ul {
  list-style-type: none;
  padding: 0;
}
footer {
  color: #333; /* Change footer text color to dark */
  text-align: right;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  right: 0;
}
